html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}
.search-header {
  font-size: 4rem;
  margin: 2rem auto 3rem auto;
  text-align: center;
}

.search-header-link,
.search-header-link:visited,
.search-header-link:link {
  text-decoration: none;
  color: lightpink;
}

search-header-link: hover;
