$font-main: "Asap", sans-serif;
$font-second: "Josefin Slab", serif;
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: $font-second;
  font-weight: 500;
}
body {
  background-color: red;
}

.header {
  font-size: 5.2rem;

  margin: 3rem auto;
  text-align: center;
}
.subhead {
  margin: 1rem auto 2rem auto;
  text-align: center;
  font-size: 3.8rem;
}
